include "/etc/bind/named.conf.local.key";

acl internal {
    10.0.0.0/8;
};

options {
  directory "/var/cache/bind";
  forwarders {
      1.1.1.1;
      8.8.8.8;
    };
  allow-query { internal; };
};

zone "{{ dns_zone }}" {
    type master;
    file "/etc/bind/zones/{{ dns_zone }}.db";
    update-policy { grant {{ dns_zone }}.key zonesub any; };
};